<div class="align-center">
  <div id="metadata" class="grey">
  <b class="black"><%= image.phrase %></b> by <span class="black"><%= image.name %></span>
  </div>
  <img src="<%= image.data %>" alt="<%= image.phrase %>" title="<%= image.phrase %>">
</div>